@import url('http://fonts.cdnfonts.com/css/roboto');

* {
    font-family: Roboto;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: black !important;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #5046b3;
}

td,
th {
    padding: 10px;
    text-align: left;
}

tr {
    border: 1px solid #5046b3;
}

.container {
    padding: 20px;
    text-align: right;
}

.titulo {
    text-align: center;
    margin-bottom: 2rem;
}
